@import url('dark mode.css');
*{box-sizing: border-box; margin: 0; padding: 0; font-family: Arial, sans-serif;}

body{min-height:100vh; background-color:var(--bg); margin:0; padding:0;}

.page {display:none; width: 100vw; min-height: 100vh; background-color: transparent;
 justify-content: center; align-items: center; padding:0; box-sizing: border-box;}

.page.active {display:block;}

/*Directory*/
.navigate{display:flex; flex-direction:row; justify-content:space-between; align-items:center;
          padding: 15px 15px; background-color:var(--nav-bg); width:100%;
        position: sticky; z-index: 1000; top:0; gap:20px; }

.nav-links {gap: 20px; display:flex; list-style-type:none; text-decoration:none; 
    white-space:nowrap; flex-wrap: wrap;}

.nav-links a {text-decoration:none; font-size: 0.95rem; font-weight: 450; color:var(--nav-links);}

.nav-links a:hover {color: #447588;}

.toggle-btn{margin-top: 15px; padding: 6px 10px; background: var(--toggle-btn);
 border: none; border-radius: 4px; margin-bottom:10px; margin-right:10px;
 width: auto; cursor: pointer; line-height: 1; display:inline-block; font-size:20px;}

.toggle-btn:hover { background-color:var(--toggle-btn-hover);}

.logout-btn{margin-top: 15px; padding: 6px 10px; background:#007BFF;
 color: white; border: none; border-radius: 4px;
 width: auto; font-size: 1rem; font-weight: bold; cursor: pointer;
line-height: 1; display:none;}

.logout-btn:hover { background-color:var(--logout-btn-hover);}

.user_greeting {font-weight:bold; color:#b0fff2; font-size: 0.95rem;}

/*Header*/
.headerclass{ display:flex; background-image:url(blue.jpg); 
    background-repeat: no-repeat; background-size:cover; background-position: center;
    justify-content: center; align-items: center; padding:20px 10px; width:100%;}
header h1{font-size: 3.00rem; font-weight:600; color:#000000; 
 font-family:Georgia, 'Times New Roman', Times, serif;}

/*Main Content*/
/*All boxes inside container*/
.membership-container{ display:flex; justify-content:center; flex-wrap: wrap;
 gap:35px; max-width:1200px; margin: 40px auto;} 

/*The boxes*/
.mbs-box{ display:flex; flex-direction:column; justify-content:space-between;
 background:var(--mbs-box-bg); border-radius: 4px; padding: 20px 30px; width: 300px;
 text-align: center; }

/*Content inside boxes*/
.mbs-title{ text-align:center; margin-bottom:15px; cursor:pointer;
    font-size: 1.25rem; font-weight:bold; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 color: var(--mbs-title-color); }

.mbs-title:hover {color:var(--mbs-title-hover);}

.mbs-price{ font-size:1.0rem; margin-bottom:20px; color:var(--mbs-price-text);
 padding-bottom: 10px; border-bottom: 1px solid var(--mbs-price-border-btm); }



.mbs-desc{font-size:0.95rem; font-weight: 100; margin-bottom:15px; 
    color:var(--mbs-desc-text); text-align:center;
 line-height: 1.5rem; font-family: Arial, sans-serif, sans-serif; }

 .mbs-desc hr{margin:15px 0px; color:var(--mbs-desc-hr);}

 .mbs-desc ul li { display:flex; justify-content: space-between; align-items:center;
 width:100%;
}

.mbs-desc ul li span {text-align: left;}

.mbs-desc ul li span {text-align: right; font-weight:bold;}

.joinus-button { margin-top: 15px; padding: 12px 20px; background: var(--joinus-bg);
 color: var(--joinus-text); border: none; border-radius: 50px;
 width: 100%; font-size: 1rem; font-weight: bold; cursor: pointer;}

/*Login*/

/*make Payment*/



 #payment_page { background-color: #f1fffd; width: 100%; min-height: 100vh;
    padding: 40px 20px; box-sizing: border-box;}

.payment-parent { display:flex; flex-direction:row; justify-content:center;
 align-items:stretch; width:100%; border: 2px; box-shadow: 0px 0px 10px #000; 
flex-wrap:wrap; margin: 40px auto; overflow: hidden; box-sizing: border-box;
min-height: 100vh; padding: 20px; background-color: #f1fffd;}

.payment-child1{ border:1px ;; background-color:#e7f6f9;
flex:1; min-width: 300px; padding: 50px; box-sizing: border-box;
 display: flex; flex-direction: column;}

.line{border-bottom: 1px solid #000000; font-size:2.25em;}

.payment-littleboxes {display:flex; justify-content:space-between;
align-items:center; margin-bottom:15px; gap:15px; padding-top:20px; border-top:10px;
box-sizing: border-box;padding-right:14px;}

.plan-name {font-weight: bold; color: #1a202c; padding-top: 5px;}

.plan-price{ color: #4a5568; font-weight: 600; text-align:center;padding-top: 5px;}

h3{text-align:center;}

.payment-child2{border:1px solid #ffffff;; background-color:#ffffff; 
  flex:1; display:flex; justify-content:space-between; align-items:center; 
  flex-direction:column; padding:50px;min-width: 300px; }

.paymentc2-header { display: flex;  align-items: center; gap: 10px;margin-bottom: 25px;
font-size: 2.45rem;}

.pinput-box {width: 100%; padding: 8px; margin: 8px 0; border-radius:4px;
     font-size: 0.95rem;align-items: center; border: 1px solid #cbd5e0; padding-top:25px;
     padding-bottom:25px; padding-left:10px;padding-right:10px;
grid-template-columns: 130px 1fr; display:grid;}

.payment-btn {margin-top: 15px; padding: 12px 20px; background: #36b90e;
    color: #000; border: none; border-radius: 4px;
    width: 100%; font-size: 1rem; font-weight: bold; cursor: pointer;}

.payment-btn:hover { background:#305f5c}

.payment-backbtn {background: none; border: none; color: #007BFF; font-size: 2.00rem; 
 font-weight: bold; cursor: pointer; margin: 20px auto 5px auto; display: block;
 max-width: 850px; text-align: left; width: 100%; }
